@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');


*{
box-sizing:border-box;
}



body{

margin:0;

background:
radial-gradient(circle at top,#222,#050505 70%);

color:white;

font-family:'Montserrat',sans-serif;

}




.hero{

text-align:center;

padding:50px;

}



.logo{

width:170px;

filter:drop-shadow(0 0 20px white);

}



.hero h1{

font-size:48px;

letter-spacing:3px;

}



.hero p{

color:#aaa;

font-size:20px;

}






/* TOP 3 */


.top-section{

text-align:center;

margin:50px 0;

}



.top-section h2,
.players-section h2{

font-size:32px;

}



.top3{

display:flex;

justify-content:center;

gap:35px;

flex-wrap:wrap;

}




.top-player{

width:230px;

background:#090909;

border:1px solid #333;

border-radius:18px;

padding:25px;

transition:.3s;

box-shadow:0 10px 30px black;

}



.top-player:hover{

transform:translateY(-8px);

border-color:white;

}



.top-player img{

height:160px;

}



.top-player h3{

margin:15px;

}






/* PLAYERS */


.players-section{

text-align:center;

padding:40px;

}



#players{

max-width:1200px;

margin:auto;

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}



.player-card{

background:#090909;

border:1px solid #333;

border-radius:15px;

padding:20px;

display:flex;

align-items:center;

gap:20px;

transition:.3s;

}



.player-card:hover{

transform:scale(1.05);

border-color:white;

}



.player-card img{

height:80px;

}




.player-card h3{

margin:0 0 10px;

}







/* RANKY */


.rank{

padding:6px 14px;

border-radius:8px;

font-weight:800;

font-size:13px;

}



.LT1{

background:#facc15;

color:black;

}


.HT2{

background:#9333ea;

}


.LT2{

background:#2563eb;

}


.HT3{

background:#22c55e;

}


.LT3{

background:#555;

}






@media(max-width:700px){

.hero h1{

font-size:30px;

}

}@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');


*{
box-sizing:border-box;
}



body{

margin:0;

background:
radial-gradient(circle at top,#222,#050505 70%);

color:white;

font-family:'Montserrat',sans-serif;

}




.hero{

text-align:center;

padding:50px;

}



.logo{

width:170px;

filter:drop-shadow(0 0 20px white);

}



.hero h1{

font-size:48px;

letter-spacing:3px;

}



.hero p{

color:#aaa;

font-size:20px;

}






/* TOP 3 */


.top-section{

text-align:center;

margin:50px 0;

}



.top-section h2,
.players-section h2{

font-size:32px;

}



.top3{

display:flex;

justify-content:center;

gap:35px;

flex-wrap:wrap;

}




.top-player{

width:230px;

background:#090909;

border:1px solid #333;

border-radius:18px;

padding:25px;

transition:.3s;

box-shadow:0 10px 30px black;

}



.top-player:hover{

transform:translateY(-8px);

border-color:white;

}



.top-player img{

height:160px;

}



.top-player h3{

margin:15px;

}






/* PLAYERS */


.players-section{

text-align:center;

padding:40px;

}



#players{

max-width:1200px;

margin:auto;

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}



.player-card{

background:#090909;

border:1px solid #333;

border-radius:15px;

padding:20px;

display:flex;

align-items:center;

gap:20px;

transition:.3s;

}



.player-card:hover{

transform:scale(1.05);

border-color:white;

}



.player-card img{

height:80px;

}




.player-card h3{

margin:0 0 10px;

}







/* RANKY */


.rank{

padding:6px 14px;

border-radius:8px;

font-weight:800;

font-size:13px;

}



.LT1{

background:#facc15;

color:black;

}


.HT2{

background:#9333ea;

}


.LT2{

background:#2563eb;

}


.HT3{

background:#22c55e;

}


.LT3{

background:#555;

}






@media(max-width:700px){

.hero h1{

font-size:30px;

}

}
